# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# environment
.env
.env.*
!.env.example

# local database
/database/*.sqlite*

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
